@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/Inter_18pt-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Inter', sans-serif;
}