@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/Inter_18pt-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Inter', sans-serif;
}

.title {
  @apply text-4xl font-bold text-gray-900 ;
}

.subheading {
  @apply text-2xl font-semibold text-gray-700 dark:text-gray-300;
}

.paragraph {
  @apply text-base text-gray-600 dark:text-gray-400 leading-relaxed;
}


.dark-textColor {
  color: #393939;
}

.shareBtns svg {
  width: 24px !important;
  height: 24px !important;

  path {
    outline: #393939;
  }
}

@media screen and (max-width: 600px) {
  .shareBtns svg {
    width: 14px !important;
    height: 14px !important;
  }
}